<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px">

    <mat-card>
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>
          <h3>Peppy Pizza</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="/assets/images/new peppy paneer.jpg">
      <mat-card-content>
        <p>Flavorful trio of juicy paneer, crisp capsicum with spicy red paprika
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>
          <h3>Peppy Pizza</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="/assets/images/new peppy paneer.jpg">
      <mat-card-content>
        <p>Flavorful trio of juicy paneer, crisp capsicum with spicy red paprika
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>
          <h3>Peppy Pizza</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="/assets/images/new peppy paneer.jpg">
      <mat-card-content>
        <p>Flavorful trio of juicy paneer, crisp capsicum with spicy red paprika
        </p>
      </mat-card-content>
    </mat-card>

</div>
