<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayoutGap="50px"
     fxFlexAlign="stretch">



    <mat-card  class="example-card" tabindex="1" fxflex fxLayoutGap="10px">
      <mat-card-header>
        <mat-card-title>
          <img mat-card-image src="/assets/images/Paneer_Makhni.jpg">
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Flavorful trio of juicy paneer, </p>
          <p>crisp capsicum with spicy red paprika</p>
      </mat-card-content>
    </mat-card>

    <mat-card tabindex="1">
      <mat-card-header>
        <mat-card-title>
          <img mat-card-image src="/assets/images/Pepper_Barbeque.jpg">
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Flavorful trio of juicy paneer, </p>
          <p>crisp capsicum with spicy red paprika</p>
      </mat-card-content>
    </mat-card>
</div>
